.home{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  
}

.noras__name{
    font-weight: bolder;
    color: #ffffff;
    background: #270f1d;
    border-radius: 100% 0% 50% 50% / 50% 0% 100% 50% ;
    text-align: center;
    width: fit-content;
}

.section{
    position: relative;
    height: 200vh;
    width: 100%;

    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
   
}


.divType1{

    position: relative;
    top: 0;
    height: 90vh;
    width: 47%;
    border: 1px solid #dddddd;
   
}
 .divType2{

    position: relative;
    top: 0;
    height: 90vh;
    width: 100%;
    border: 1px solid #dddddd;
    margin: 5px;
    

}



.section1{
    background-image: url(/images/background-home.jpg);
    text-align: center;
    align-items: center;
}



.section1 p{
    font-weight: 900;
}



.showcase{
    
    max-height: fit-content;
    display: flex;
    overflow-x: auto;
    align-items: center;
  
}

.section2 .divType1.text{
    text-align: left;
    padding-top: 20px;
    font-size: 2.7rem;
}

 
 .section2 .image{

    background-image: url(/images/background-section2-home.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    
}



 .product__container{
  
    background-image: url(/images/background-section2-home.jpg);
    background-position-y: center;
    background-position-x: left;
    max-height: fit-content;
    display: flex;
    overflow-x: auto;
    align-items: center;
}








.section3{

    background-image: url(/images/fashion-designer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}

 
.section4{
    background-image: url(/images/girasol.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
}



@media only screen and (max-width: 768px) {

    .section{
        height: unset;
    }

    .section1{
        padding: 0px;
    }

    .section1 .divType2{
       
         height: 50%;
         margin-bottom: 20px;
    }

    .section1 .divType2 p{
        font-weight: 500;
        font-size: smaller;
    }

    .section2{

        background-image: url(/images/background-section2-home.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: center;
        padding: 0px;

    }

    .section2 .divType1{
        width: 100%;
        height: 100vh;
        margin-bottom: 20px;
        font-size: smaller;
    }

    .section2 .divType1.image{
        border-radius: 15px;
        height: 50vh;
    }

    .section2  .divType2{
        width: 100%;
        height: 80vh;
        margin-bottom: 20px;
        margin-left: 0;
        margin-right: 0;
    }

    .section2 .divType1.text { 
        font-size: 35px;
    }

    .section3{
        background-size: contain;
    }

    .section3 .divType1{
        width: 100%;
    }

    .section3 .divType2{
        width: 100%;
    }

    
    .section4{
        background-size: contain;
    }
    
    .section4 .divType1{
        width: 100%;
    }

}