.home{
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;
    
}

.noras__name{
    font-weight: bolder;
    color: #ffffff;
    background: #270f1d;
    border-radius: 100% 0% 50% 50% / 50% 0% 100% 50% ;
    text-align: center;
    width: fit-content;
}

.section{
    position: relative;
    height: 200vh;
    width: 100%;
   
}

.section1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    background-image: url(/images/background-home.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    margin-bottom: 20px;
}

.section1 .content{
    width: 100%;
    height: 80vh;
    text-align: center;
    align-items: center;
}
.section1 .content p{
    font-weight: 900;
}



.showcase{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    transform-style: preserve-3d;
    perspective: 500px;
    
    
}

 
.section2{
    

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px 0px;
    margin-bottom: 50px;

}


.section2 .item1{
    width: 47%;
    height: 80vh;
   

}

 .section2 .item1.image{
    background-image: url(/images/background-section2-home.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    border-radius: 92% 5% 0% 100% / 87% 96% 2% 21% ;
    height: 100vh;
}
.section2  .item2{
    width: 100%;
    height: 70vh;
    background: #ffffff;
    margin: 10px;
    border: 5px solid #dddddd;


}
.section2  .item2.product__container{
  
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    flex-wrap: wrap;
    justify-content: space-around;
/* 
    overflow: auto;
    white-space: nowrap; */
    


}


.section3{
    background-image: url(/images/fashion-designer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}

.section3 .divType1{
    position: relative;
    top: 0;
    height: 50%;
    width: 47%;
    border: 1px solid #dddddd;
   
}
.section3 .divType2{
    position: relative;
    top: 0;
    height: 40%;
    width: 100%;
    border: 1px solid #dddddd;
    margin: 5px;

}

.section4{
    background-image: url(/images/girasol.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
}



@media only screen and (max-width: 768px) {

    .section{
        height: unset;
    }

    .section1{
        padding: 0px;
    }

    .section1 .content{
       
         height: 50%;
         margin-bottom: 20px;
    }

    .section1 .content p{
        font-weight: 500;
        font-size: smaller;
    }

    .section2{

        background-image: url(/images/background-section2-home.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: center;
        padding: 0px;

    }


    .section2 .item1{
        width: 100%;
        height: 100vh;
        margin-bottom: 20px;
        font-size: smaller;
        
    
    }

    .section2 .item1.image{
        border-radius: 15px;
        height: 50vh;
    }
    .section2  .item2{
        width: 100%;
        height: 80vh;
        margin-bottom: 20px;
        margin-left: 0;
        margin-right: 0;
        
    
    }

    .section3 .divType1{
        width: 100%;
    }
    .section3 .divType2{
        width: 100%;
    }
    

}