.post__card{
    position: relative;
    width: 275px;
    height: 275px;
    background: #000;
    transition: 0.5s;
    transform-style: preserve-3d;
    overflow: hidden;
    margin: 5px;
  
}

 .post__card .image__box{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

 .post__card .image__box:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #3c162d, #ac9db2);
    z-index: 1;
    opacity: 0;
    transition: 0.5s;

}

.post__card:hover .image__box:before{
    opacity: 1;
}

 .post__card .image__box img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

 .post__card .text__box{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    box-sizing: border-box;
    z-index: 1;
}
.post__card .text__box h2{
    color: #3a152a;
    transition: 0.5s;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 20px;
    transform: translateY(200px);
}
 .post__card:hover .text__box h2{
    transform: translateY(0px);
    transition: 0.7s;
}
 .post__card .text__box p{
    color: #3a152a;
    transition: 0.5s;
    font-size: 14px;
    transform: translateY(200px);
}
 .post__card:hover .text__box p{
    transform: translateY(0px);
    transition: 0.7s;

}
